{% extends "index.html" %}


{% block script %}
	{% load staticfiles %}
	<script src="{% static 'js/clients.js' %}"></script>
{% endblock %}
{% block content %}
	<div class="catalog-page">
		<div class="search-field">
			<input type="text" class="js-search-value"/>
			<select class="js-search-field">
				<option value="first_name">Имя</option>
				<option value="last_name">Фамилия</option>
			</select>
			<button class="js-search-btn">Поиск</button>
		</div>

		<h2 class="js-empty-catalog">Не найдено записей в базе данных</h2>
		<div class="js-catalog-table search-result-block">
			<table class="clients-catalog-table">
				<thead>
					<tr>
						<th>Фото</th>
						<th>Имя<div class="sorting-controls js-sorting-controls" data-field="first_name"><span class="js-up-arrow">&#8593;</span><span class="js-down-arrow">&#8595;</span></div></th>
						<th>Фамилия<div class="sorting-controls js-sorting-controls" data-field="last_name"><span class="js-up-arrow">&#8593;</span><span class="js-down-arrow">&#8595;</span></div></th>
						<th>Дата рождения<div class="sorting-controls js-sorting-controls" data-field="date_of_birth"><span class="js-up-arrow">&#8593;</span><span class="js-down-arrow">&#8595;</span></div></th>
						<th>Возраст<div class="sorting-controls js-sorting-controls" data-field="age"><span class="js-up-arrow">&#8593;</span><span class="js-down-arrow">&#8595;</span></div></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
			<button class="js-delete-btn">Удалить выделенное</button>
		</div>
	</div>
{% endblock %}