<html>
	<head>
	    <meta charset="utf-8" />
	    <title>Список клиентов</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>

	<body>
		{% load staticfiles %}
		<script
		  src="https://code.jquery.com/jquery-3.2.1.js"
		  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
		  crossorigin="anonymous"></script>

		<script>
			MEDIA_DIR = '{{ MEDIA_URL }}';
		</script>
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<script src="{% static 'js/main.js' %}"></script>
		{% block script %}{% endblock %}

		<header class="header">
			<ul class="main-menu">
				<li><a href="/">Все клиенты</a></li>
				<li><a href="/voting">Голосовать</a></li>
				<li><a class="js-download-document">Выгрузка в XLSX</a></li>
				<li><a class="toggle-modal" data-modal="#add-client-modal">Добавить клиента</a></li>
			</ul>
		</header>
		<section class="page-container">
			{% block content %}{% endblock %}
		</section>

	    <div id="loader-modal" class="modal loader-modal">
	    	<img src="{% static 'img/ajax-loader.gif' %}"/>
	    </div>
	    <div id="add-client-modal" class="modal">
	        <div class="modal-content">
	        	<span class="modal-close js-modal-close">&times;</span>
				<form class="js-add-client-form" method="post">
				    {% csrf_token %}
				    {{ form }}
				    <label for='id_photo'>Загрузите,пожалуйста, фото</label>
				    <input type="file" name="photo" required id="id_photo" accept="image/*"/>
				    <button type="submit">Добавить клиента</button>
				</form>
			</div>
		</div>

	</body>
</html>