{% extends "index.html" %}


{% block script %}
  {% load staticfiles %}
  <script src="{% static 'js/voting.js' %}"></script>
{% endblock %}

{% block content %}
  <div class='gallery js-voting-gallery'>
    {% if persons %}
      {% for item in persons %}
        <div class="gallery-item">
          <div class="photo-container">
            <img src="{{ MEDIA_URL }}{{ item.photo }}" alt='{{ item.last_name }} {{ item.first_name }}'/>
          </div>
          <div class="gallery-item-info">
            <h3>{{ item.last_name }} {{ item.first_name }}</h3>
            <div data-client="{{ item.id }}" class="voting-controls js-voting-controls">
              <span class="down voting-control">—</span>
              <span class="rating">{{ item.rating }}</span>
              <span class="up voting-control">+</span>
            </div>
          </div>
        </div>
      {% endfor %}

    {% else %}
      <h2>Не найдено записей в базе данных</h2>
    {% endif %}
  </div>
{% endblock %}