body {
    padding: 0;
    margin: 0px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #168DE2;
    color: #FFFFFF;
}

button,
button:active,
button:hover {
    border: none;
    outline: none;
}

button:active,
button:hover {
    background-color: #0071BC;
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    padding: 8px;
}

input:hover,
input:focus,
input:active,
select:focus,
select:hover,
select:active {
    outline: none;
}

.hidden {
    display: none !important;
}


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

@media(max-width: 768px) {
    .modal {
        padding-top: 5%;
    }
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px 30px;
    border: 1px solid #888;
    max-width: 600px;
    width: 80%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.modal-content h2 {
    max-width: 300px;
    margin: 0px auto 20px auto;
}


/* The Close Button */

.modal-close {
    position: absolute;
    right: 30px;
    font-size: 38px;
    font-weight: bold;
    cursor: pointer;
    color: #168DE2;
}

.modal-close:hover,
.modal-close:focus {
    color: #0071BC;
    text-decoration: none;
}

.modal-content form {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 100%;
}

.modal-content form button {
    display: block;
    margin: 10px auto;
}

.modal-content input,
.modal-content label {
    display: inline-block;
    margin: 5px 0;
    vertical-align: middle;
    width: 50%;
    text-align: left;
}

.modal-content input[type="file"] {
    width: 49%;
}

@media(max-width: 450px) {
    .modal-content input,
    .modal-content label,
    .modal-content input[type="file"] {
        display: block;
        width: 100%;
        max-width: auto;
    }
}

input.error {
    border: 2px solid red;
}

.header {
    padding: 10px 0;
    background-color: #168DE2;
}

.main-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.main-menu li {
    flex: 0 0 200px;
    min-width: 200px;
    margin: 10px 20px;
}

.main-menu li a,
.main-menu li a:link,
.main-menu li a:visited,
.main-menu li a:hover,
.main-menu li a:active {
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}

.main-menu li a:hover {
    text-shadow: 1px 1px 1px #FFFFFF;
}

.page-container {
    width: 80%;
    margin: 0 auto;
}

@media(max-width: 1000px) {
    .page-container {
        width: 100%;
    }
}

.catalog-page {
    margin: 15px;
}

.page-container h2 {
    color: #168DE2;
    text-align: center;
    margin-bottom: 50px;
}

.search-field {
    text-align: center;
}

.search-field * {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
}

.search-result-block {
    text-align: center;
}

.clients-catalog-table {
    border-collapse: collapse;
    margin: 10px auto;
}

.clients-catalog-table th {
    padding: 6px 10px;
    font-size: 18px;
}

.clients-catalog-table tbody tr:nth-child(2n) td {
    background-color: #EFEFEF;
}

.clients-catalog-table tbody tr:hover td {
    background-color: #E0FBFE;
}

.clients-catalog-table td {
    padding: 3px 6px;
}

.clients-catalog-table img {
    width: 64px;
    height: 64px;
}

.clients-catalog-table tr th {
    background-color: #68B4E9;
    color: #FFFFFF;
}

.clients-catalog-table tr th * {
    display: inline-block;
    vertical-align: middle;
}

.clients-catalog-table .sorting-controls {
    margin-left: 5px;
}

.clients-catalog-table .sorting-controls span {
    margin: 0 3px;
    cursor: pointer;
    font-size: 22px;
}

.clients-catalog-table .sorting-controls span:hover,
.clients-catalog-table .sorting-controls span.active {
    color: #045893;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.gallery-item {
    flex: 0 0 200px;
    width: 200px;
    margin: 10px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    padding: 10px;
    text-align: center;
}

.gallery-item-info h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.voting-controls .voting-control {
    padding: 0px 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    color: #0071BC;
}

.voting-controls .voting-control:hover {
    background: #0071BC;
    color: #FFFFFF;
}

.photo-container {
    position: relative;
    height: 200px;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

.photo-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.loader-modal {
    z-index: 1002;
    text-align: center;
}

.loader-modal img {
    width: 80%;
    height: auto;
    max-width: 200px;
}
